# Zadanie 4
## Hubert Stępniewski
#### Utwórzono dataframe z 4 kolumnami. Wyświetlono informacje o danych, opis danych oraz pierwsze trzy rekordy.

In [1]:
import pandas as pd
data = {
    'name' : ['adam', 'hubi', 'tomek', 'jan', 'michi'],
    'surname' : ['malysz', 'lala', 'baba', 'tata', 'dada'],
    'age' : [21, 21, 22, 23, 56],
    'sex' : ['M', 'F', 'M', 'M', 'F']
        }

df = pd.DataFrame(data)
df.info()
df.describe()
df.head(3)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   name     5 non-null      object
 1   surname  5 non-null      object
 2   age      5 non-null      int64
 3   sex      5 non-null      object
dtypes: int64(1), object(3)
memory usage: 288.0+ bytes

    name surname  age sex
0   adam  malysz   21   M
1   hubi    lala   21   F
2  tomek    baba   22   M